.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  background-image: linear-gradient(rgb(36, 183, 228), white)
}

.Nav-bar {
  /* background-color: rgb(0, 58, 97); */
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1em;
  font-family: Verdana;
  text-decoration: none;
  box-sizing: border-box;
  display: table;
  clear: both;
}

#mascot {
  float: left;
  max-width: 4em; 
  max-height: 4em;
  object-fit: contain;
}

.Nav-bar-links {
  float: right;
  padding-right: 1em;

  
}


.Nav-bar-text {
  color: white;
  text-decoration: none;
  font-size: 0.75em;
  font-style: italic;
  font-family:'Gill Sans',sans-serif;
  font-weight: 600;
  padding-left: 4em;
  
}

/* .home-body {
  display: block;

} */

#intro {
  text-align: center;
  margin: auto;
  width: 55%;
}

#intro-header {
  font-size: 1.25em;
  font-style: italic;
  font-weight: 800;
  font-family:'Roboto',sans-serif;
  color: rgba(0, 0, 0, 0.705);
  /* width: 25em; */
}

#intro-sub {
  color: rgba(0, 0, 0, 0.705);
  font-size: 0.6em;
  font-weight: 450;
}

#scroll-button {
  margin-top:3em;
  margin-bottom:10em;
}

a.button1 {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.05em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:200;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
  a.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
}
  @media all and (max-width:30em){
  a.button1{
  display:block;
  margin:0.4em auto;
  }
}


.purpose {
  background-color: rgba(34, 34, 34, 0.822);
  color:white; 
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-right: auto;
  justify-content: center;
  
}

.purpose-left {
  list-style: none;
}

.purpose-center {
  width: 10em;
  height: 20em;
  background: repeating-linear-gradient(to bottom,transparent 0 6px,rgb(255, 255, 255) 4px 8px) 80%/2px 100% no-repeat;
}

.purpose-right {
  list-style: none;
}

.purpose-text {
  font-size: 0.75em;
  width: 40%;
}

#purpose-bottom {
  justify-content: center;
  width:100%;
  /* display:inline; */
}

#purpose-img1 {
  max-width: 10em; 
  max-height: 10em;
  object-fit: contain;
  /* width: 100%; */
}

#purpose-mascot {
  max-width: 10em; 
  max-height: 10em;
  object-fit: contain;
  /* width: 100%; */
}

.contact {
  font-size: 0.6em;
  /* display: flex; */
}

.contact-text {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: 600;
}

#contact-list {
  display:flex;
  /* margin:auto; */
  /* align-items: center; */
}

#contact-mascot {
  max-width: 3em;
  max-height: 3em;
}

#footer {
  background-image: linear-gradient(to right, rgb(36, 183, 228), rgb(191, 240, 255));
  width: 100%;
  display:inline;
  height: 8em;
  
}
#footer-ul {
  display:flex;
  justify-content: center;
  
}
.footer-link {
  display:flex;
  margin-left: 0.25em;
  margin-right: 0.25em;
  align-items: center;
}